#allRecords{
    display: flex;
    flex-flow:column;
    position: relative;
    align-items: center;
    width: 500px;
    height: 800px; 
    margin-left: 450px;
}

table{
    border: 4px solid black;
}
th, tr{
    border: 1px solid black;
    width: 100px;
    height: 50px;
}
